.auth-form{
    width: 400px;
    text-align: center;
}

.auth-form label,
.auth-form input{
    margin-bottom: 0.35rem;
}
.auth-form button {
  margin-top: 0.65rem;
}

.hide-pass-btn{
  position: absolute;
  right: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.password-wrapper{
  position: relative;
}

.password-wrapper input{
  padding-right: 40px;
}

.password-wrapper button{
  top: -7px;
}