    *{
        box-sizing: border-box;
    }
    form {
    border: 1px solid #333;
    padding: 15px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 15px;
    }
    .vehicle-summary{
        border: 1px solid #333;
        padding: 15px;
        max-width: 800px;
        margin: 0 auto;
        border-radius: 5px;
        margin-top: 15px; 
    }
    .form-row{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .input-group {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    width: 130px;
    }
    .input-group:last-child{
        margin-bottom: 0;
    }
    label {
    width: 100px;
    }
    input,
    select,
    textarea {
    padding: 3px 5px;
    width: 100%;
    }
    .submit-group {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    button {
    margin: 0 auto;
    background-color: black;
    color: white;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    }
    .label-disabled{
        opacity: 0.5;
    }
    .category-list, .product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        margin-top: 20px;
    }
      
    .category-card,
    .product-card {
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: center;

    width: 180px;           
    height: 120px;          
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .category-card:hover, .product-card:hover {
        background-color: #f2f2f2;
    }
    .category-card {
        position: relative;
        width: 200px;         
        height: 150px;
        overflow: hidden;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        padding: 0;
      }
      
      .category-image {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        display: block;
      }
      
      .category-label {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.5);
        color: white;
        text-align: center;
        padding: 0.5rem;
        font-weight: bold;
      }
      